
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Chat App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Service 1</a>
          <a class="dropdown-item" href="#">Service 2</a>
          <a class="dropdown-item" href="#">Service 3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>




<div class="container">
  <h1>
    Welcome to {{ title }}
  </h1>
  <div class="chatbox">
    <div *ngFor="let message of conversation" [ngClass]="message.sender">
      <p>{{ message.content }}</p>
    </div>
  </div>
  <input class="input" [(ngModel)]="newMessageContent" placeholder="Ask Your Question ">
  <button (click)="sendMessage()">Send</button>
</div>

